<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Quiz</title>
</head>
<body>
    <header>
       <h1 class="text-center text-white font-semibold bg-yellow-300 text-3xl py-4">Quel Pokémon es-tu ?</h1>
    </header>


    <main>

        <div class="flex justify-center" >
        <img src="/static/imgpkmn.jpg">
        </div>

        <br>
                <p class="text-center text-white font-semibold bg-yellow-300 text-3xl py-4">Répond à ce quiz pour découvrir quel pokémon tu es.</p>
        <br>

        <div class="flex justify-center">
        <a href="/question" class="p-20 [text-shadow:_1px_1px_1px_black] text-white bg-yellow-200 border rounded-lg hover:bg-yellow-300">Let's go !</a>
        </div>

    </main>

    <footer>
        

    </footer>
   
</body>
</html>
