<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Test</title>
</head>
<body>
    <header>
        <h1 class="text-center text-white font-semibold text-3x1 bg-yellow-300 py-4">Quel pokémon es-tu ?</h1>
    </header>

    <main>
        <h1 class="text-center font-bold text-2xl py-4"> {{question}} </h1>
        <div class="flex justify-center pt-6">
            <ul>
                <li> <a href="/reponse/0">  {{reponses[0]}}</a></li>
                <li> <a href="/reponse/1">  {{reponses[1]}}</a></li>
                <li> <a href="/reponse/2">  {{reponses[2]}}</a></li>
                <li> <a href="/reponse/3">  {{reponses[3]}}</a></li>
                <li> <a href="/reponse/4">  {{reponses[4]}}</a></li>

            </ul>
        </div>

    </main>
    
    <footer class="fixed bottom-0 w-full bg-yellow-300 text-center text-white font-mono font-bold py-2 text-black" >
        <p>Copyright © Nintendo</p>
    </footer>
    
</body>
</html>
